.main-content {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}
.analyzer-container {
  display: flex;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sidebar {
  width: 300px;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  padding: 10px 20px;
}
.image-queue {
  width: 100%;
  max-width: 1400px;
  margin: 20px auto 0;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}
